<center>
<div>
<h2 class="loginHeader">SignUp</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <span class="fa fa-envelope fa-login"></span>
    <%= f.email_field :email, autofocus: true ,:class => 'inputLogin',:placeholder => "Email"%>
  </div>
  <br>
  <div class="field">
    <span class="fa fa-key fa-login"></span>
    <% if @validatable %>
    <!--em>(<%= @minimum_password_length %> characters minimum)</em>-->
    <% end %>
    <%= f.password_field :password, autocomplete: "off",:class => 'inputLogin',:placeholder => "Password" %>
  </div>
  <br>
  <div class="field">
    <span class="fa fa-unlock-alt fa-login"></span>
    <%= f.password_field :password_confirmation, autocomplete: "off",:class => 'inputLogin',:placeholder => "Confirm Password" %>
  </div>
  <br />

  <div class="actions">
    <%= f.submit "SignUp", :class=> 'buttonLogin'%>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
</div>
