<% accounts = current_user.accounts %>
<% accounts.each do |account| %>
  <div class="row list-row padding-10 account-row">
    <span class="pull-left"><%= account.name %></span>
    <span class="pull-right"><%= account.amount %></span><br />
  </div>
<% end %>
