<% if @transactions %>
  <% transactions = @transactions %>
<% else %>
  <% transactions = current_user.transactions %>
<% end %>

<div class="col-md-12 border-bottom">
  <div class="row">
    <div class="col-md-2">
      <span class="center strong">Type</span>
    </div>
    <div class="col-md-2">
      <span class="center strong">Amount</span>
    </div>
    <div class="col-md-2">
      <span class="center strong">Tag</span>
    </div>
    <div class="col-md-2">
      <span class="center strong">Description</span>
    </div>
    <div class="col-md-2">
      <span class="center strong">From Account</span>
    </div>
    <div class="col-md-2 strong">
      <span class="center">To Account</span>
    </div>
  </div>

</div>

<% transactions.each do |t| %>
  <div class="col-md-12 border-bottom transaction-row">
    <div class="row">
      <div class="col-md-2">
        <span class="center"><%= t.t_type %></span>
      </div>
      <div class="col-md-2">
        <span class="center"><%= t.amount %></span>
      </div>
      <div class="col-md-2">
        <span class="center"><%= t.tag %></span>
      </div>
      <div class="col-md-2">
        <span class="center"><%= t.description %></span>
      </div>
      <div class="col-md-2">
        <span class="center"><%= t.from_accountName || '-' %></span>
      </div>
      <div class="col-md-2">
        <span class="center"><%= t.to_accountName || '-' %></span>
      </div>
    </div>
    <div class="row col-md-12">
      <div class="col-md-10"></div>
      <div class="col-md-1 pointer center padding-5 delete"><i class="fa fa-times"></i></div>
      <%= hidden_field_tag :t_id, t.id %>
      <div class="col-md-1 pointer center padding-5 edit"><i class="fa fa-pencil-square-o"></i></div>
    </div>
  </div>
<% end %>

