<div class="header row">
  <div class="col-md-4">
    Welcome <%= current_user.email%>
  </div>
  <div class="col-md-8 pull-right">
    <a href="/users/sign_out" data-method="delete">
      <button class="btn btn-default padding-5">Logout</button>
    </a>
  </div>
</div>
<div class="new-transaction row center padding-20">
  <span class="strong">Add a Transaction:</span>
  <%= form_for(@transaction, id: "new-transaction-form", class: 'form-inline') do |f| %>
    <%= f.select :t_type, options_for_select([
                          ["Debit", "debit"],
                          ["Credit", "credit"],
                          ['Transfer', "transfer"]
                        ], "debit"), id: "transaction_type" %>

    <%= f.text_field :amount, placeholder: "Amount", :required => true %>
    <% hashtags = Hashtag.all.map { |ht| ht.tag }.uniq.sort %>
    <%= f.select(:tag, hashtags) %>
    <%= f.text_field :description, :placeholder => "Short Description" %>
    <% accounts = current_user.accounts.map { |ht| ht.name }.sort %>
    <%= f.select(:from_accountName, accounts) %>
    <%= f.select(:to_accountName, accounts) %>
    <%= f.submit(class: "btn btn-primary") %>
  <% end %>
</div>
<div class="container">
  <div class="col-md-3 accounts">
    <span class="strong">ACCOUNTS</span>
    <div>
      <%= text_field_tag :name, nil, placeholder: "Name", :required => true %>
      <%= text_field_tag :amount, nil, placeholder: "Amount (INR)", :required => true %>
      <button id="add-account" class="pull-right btn btn-primary">Add</button>
    </div>
    <div class="padding-10 accounts-list">
      <%= render 'accounts' %>
    </div>
  </div>

  <div class="col-md-7 transactions padding-5">
    <span class="strong pull-left">TRANSACTIONS</span><br />
    <span class="strong pull-right">Filter By Type</span><br>
    <div class="padding-5 pull-right">
      <input type="checkbox" class="margin-right-5" name="filterByType" value="debit">Debit
      <input type="checkbox" class="margin-right-5" name="filterByType" value="credit">Credit
      <input type="checkbox" class="margin-right-5" name="filterByType" value="transfer">Transfer<br>
      <div class="btn btn-default" id="filter">Filter</div>
    </div>
    <div class="padding-10 transactions-list">
      <%= render 'transactions' %>
    </div>
  </div>

  <div class="col-md-2 hashtags">
    <span class="strong">TAGS</span>
    <div>
      <%= text_field_tag :tag, nil, placeholder: "Tag", :required => true %>
      <button id="add-tag" class="pull-left btn btn-primary">Add</button><br />
    </div>
    <div class="padding-10 tags-list">
      <%= render 'tags' %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var type = $("#transaction_type").val();
    var types=[]
    $("#transaction_to_accountName").hide();

    $("#transaction_t_type").on("change", function(){
      type = $(this).val();
      hideAccount(type);
    });

    $("#transaction_tag").prepend("<option value='' disabled selected>Select Tag</option>");
    $("#transaction_from_accountName").prepend("<option value='' disabled selected>From Account</option>");
    $("#transaction_to_accountName").prepend("<option value='' disabled selected>To Account</option>");

    $('form').submit(function() {
      type = $("#transaction_t_type").val();
      from_accountName = $("#transaction_from_accountName").val();
      to_accountName = $("#transaction_to_accountName").val();
      if ((type == "debit" && from_accountName == null) || (type == "credit" && to_accountName == null) || (type == "transfer" && (from_accountName == null && to_accountName == null))){
        alert("Please select the Account");
      }else{
        var valuesToSubmit = $(this).serialize();
        $.ajax({
          type: "POST",
          url: $(this).attr('action'),
          data: valuesToSubmit,
          dataType: "script"
        }).success(function(json){
          $("#transaction_from_accountName").val($("#transaction_from_accountName option:first").val());
          $("#transaction_to_accountName").val($("#transaction_to_accountName option:first").val());
        });
      }
      return false; // prevents normal behaviour
    });

    $("#add-account").on("click", function(){
      name = $("#name").val();
      amount = $("#amount").val();
      if (isNaN(amount) == true){
        alert("Please Enter Correct Amount");
      }else if(name == "" || amount == ""){
        alert("Please fill all the fields");
      }else{
        $.ajax({
          type: "POST",
          url: "/add_account",
          data: {name: name, amount: amount},
          dataType: "script"
        }).error(function(){
          alert("Some Error Happened");
        });
      }
    });

    $("#add-tag").on("click", function(){
      tag = $("#tag").val();
      if(tag == ""){
        alert("Please fill all the fields");
      }else{
        $.ajax({
        type: "POST",
        url: "/add_tag",
        data: {tag: tag},
        dataType: "script"
      }).error(function(){
          alert("Some Error Happened");
      });
      }
    });

    $(".account-row").on("click",function(){
      name = $(this).children().first().html();
      $.ajax({
        type: "POST",
        url: "/filter",
        data: {name: name, filter: "account"},
        dataType: "script"
      }).error(function(){
        alert("Some Error Happened");
      });
    });

    $(".tag-row").on("click",function(){
      name = $(this).children().first().html();
      $.ajax({
        type: "POST",
        url: "/filter",
        data: {name: name, filter: "tag"},
        dataType: "script"
      }).error(function(){
        alert("Some Error Happened");
      });
    });

    $("input[name=filterByType]").on("click",function(){
      if ($(this).is(":checked")){
        types.push($(this).val());
      }
      else{
        index = types.indexOf($(this).val());
        types.splice(index,1);
      }
    });

    $("#filter").on("click",function(){
      name = types;
      $.ajax({
        type: "POST",
        url: "/filter",
        data: {name: name, filter: "type"},
        dataType: "script"
      }).error(function(){
        alert("Some Error Happened");
      });
    });

    $($('body').on('click','.delete',function(){
      t_id = $(this).next().val();
      $(this).html('<i class="fa fa-spinner fa-spin"></i>');
      deleteTransaction(t_id);
    }));
  });

  var deleteTransaction = function(id){
    $.ajax({
      type: "POST",
      url: "/delete_transaction",
      data: {t_id: id},
      dataType: "script"
    }).error(function(){
      alert("Some Error Happened");
    });
  };

  var hideAccount = function(type){
    if (type=="debit"){
      $("#transaction_to_accountName").hide();
      $("#transaction_from_accountName").show();
    }else if(type=="credit"){
      $("#transaction_from_accountName").hide();
      $("#transaction_to_accountName").show();
    }else{
      $("#transaction_to_accountName").show();
      $("#transaction_from_accountName").show();
    }
  };
</script>
