<% if current_user %>
  <span class="strong"> Hi <%= current_user.email.split(' ')[0] %> , &nbsp</span>
  <a href="/users/sign_out" data-method="delete">
    <button class="strong">LOGOUT</button>
  </a>
<% else %>
  <a href="/users/sign_in" >
    <button class="strong" method="get">LOGIN</button>
  </a>
  <span class="font or">OR</span>
  <a href="/users/sign_up" >
    <button class="strong" method="get">SIGN UP NOW</button>
  </a>
<% end %>
