<center><h2 class="loginHeader">LogIn</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

  <div class="field">
    <span class="fa fa-envelope fa-login"></span>
    <%= f.email_field :email, autofocus: true,:placeholder => "Email",:class => 'inputLogin'  %>
  </div>
  <br>
  <div class="field">
    <span class="fa fa-key fa-login"></span>
    <%= f.password_field :password, autocomplete: "off",:placeholder => "Password",:class => 'inputLogin'%>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "LogIn", :class=> 'buttonLogin' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</center>
