* {
  margin: 0px;
}
.header{
  background-color: #ECECE5;
  padding: 20px;
  box-shadow: 0 0 30px #80807D;
}

.list-row{

}

.list-row:hover{
  cursor: pointer;
  background-color: #D4D4BF;
}

.border-bottom{
  border-bottom: 1px solid #2E2E1F;
}

.transactions{
  background-color: #fafafa;
  border-bottom: #eeeeee;
}

.transaction-row{
  padding-top: 10px;
  padding-bottom: 10px;
}

.delete{
  background-color: #FF8080;
  color: white;
}

.edit{
  background-color: #8080E6;
  color: white;
}
