.pull-left{
  text-align: left;
}

.pull-right{
  text-align: right;
}

.center{
  text-align: center;
}

.strong{
  font-weight: bold;
  color: #646456;
}

.padding-5{
  padding: 5px;
}

.padding-10{
  padding: 10px;
}

.padding-15{
  padding: 15px;
}

.padding-20{
  padding: 20px;
}

.pointer:hover{
  cursor:pointer;
}

.margin-right-5{
  margin-right: 5px !important;
}

